@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.App {
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 2em;
  margin-left: 2vw;
}

/* NavBar */

.navBar {
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: medium;
}

.navBarButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}

.navLink {
  padding: 0 2vw;
  color: #333;
  text-decoration: none;

	background: linear-gradient(currentColor, currentColor) bottom / 0 .05em no-repeat;
	transition: 0.5s background-size;
  background-position: center bottom;
}

.navLink:hover, .currentPage{
  background-size: 70% .05em;
}

/*projects*/
.card-container{
  margin-left: 5%;
  width: 90%; /* Adjust the target width*/
}
.flip-container {
  position: relative;
  perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper{
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  width: 100%;
  height: 100%;
}
.flipper {
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
  text-align: center;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  background: rgba(0,0,0,0.05);
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.back {
  background: #333;
  color: white;
  height: 100%;
  transform: rotateY(180deg);
  padding: 4px 8px;
  border-radius: 4px;
}
.column30p {
  float: left;
  width: 28vw;
  padding: 10px;
  border-radius: 4px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.flip-card-front {
  background-color: #d3d3d3;
  border-radius: 4px;
  padding: 4px 8px;
  height: 35vh
}

.img {
  height: 100%;
  max-width: 100%;
}

.link {
  color: #fff;
}

.link:hover {
  color: red;
}

/* About page */

.page-container {
  width: 100%;
  height: 100%;
  color: #333;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-header {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 4em;
  color: #333;
}

.about-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about-image {
  width: 100%;
  opacity: 0.8;
}

.haeder-image {
  position: absolute;
  top: 0;
  left: -15%;
  height: 20%;
  object-fit: cover;
  z-index: 1;
}

.about-image-and-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin-right: 5vw;
  width: 20%;
}

.about-text {
  width: 50%;
}

.about-content p {
  line-height: 1.6;
  font-size: 1.3vw;
}

.social-links {
  width: 100%;
  text-align: right;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
}

.social-links a:hover {
  color: #000;
}
